*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
	margin: 0 auto;
	width: 90%;
    background-color: #cff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	height: 150px;
    background-image: url(images/山路.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 300px;
    background-color: #464646;
}
.text {
    float: left;
    clear: left;
    margin-top: 50px;
    position: absolute;
    mix-blend-mode: lighten;
    margin-left: 100px;
    font-weight: bold;
    font-size: 50px;
    background-color: #fff;
    text-shadow:1px 1px 2px #000;
}


.nav{
    box-sizing: border-box;
    width: 1600;
    background-color:white;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 4;
    border-radius: 10px 10px;
 }
 .nav ul{
    list-style:none;
    height:50px;
    border-bottom:10px solid #cff;
    padding-left:30px;
 }
 .nav li{
    float:left;
    margin-top:10px;
 }
 .nav ul #Login{
    float: right;
    clear: right;
 }
 .nav ul #register{
    float: right;
 }
 .nav li a{
     background-color:#EEEEEE;
     text-decoration:none;
     color:#000000;
     display:block;
     width:90px;
     height:40px;
     line-height:40px;
     text-align:center;
     margin-left:1px;
     /*设置圆角属性,IE6,7,8不支持*/
     border-top-left-radius:15px;
     border-top-right-radius:15px;
 }
 .nav li a:hover,.nav li a.on{
     background-color:#cff;
     color:#3414d6;
 }
 
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.nav ul a{
    float: right;
}

.content {
	height: 1070px;
    background-color: #cff;
}

/* 魔方 */
.container{
    float: left;
    width:300px;
    height:400px;
    margin:-10px 100px;
    perspective:20000px;
    margin-right: 120px;
}
.box{
    width:300px;
    height:300px;
    border:1px solid transparent;
    box-sizing: border-box;
    position:relative;
    transform-style:preserve-3d;
    /*transform:rotateX(30deg) rotateY(30deg);*/
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    100%{
        transform:rotatex(360deg) rotatey(360deg) rotatez(360deg);
    }
}

.box-page{
    width: 300px;
    height: 300px;
    position:absolute;
    box-sizing: border-box;
    transform-style:preserve-3d;
}


.top{
    transform: translateZ(150px);
}
.bottom{
    transform: translateZ(-150px) rotateX(180deg);
}
.right{
    transform: translateX(150px) rotateY(90deg);
}
.left{
    transform: translateX(-150px) rotateY(-90deg);
}
.after{
    transform: translateY(-150px) rotateX(90deg);
}
.before{
    transform: translateY(150px) rotateX(-90deg);
}


.box-page div:first-child,.box-page div:nth-child(3),.box-page div:nth-child(5),.box-page div:nth-child(7),.box-page div:nth-child(9){
    transform: rotateY(0deg);
    animation: rotatey 6s linear infinite;
}


@keyframes rotatey{
    20%{
        transform: rotateY(0deg);
        background-size: 300px 300px;
    }
    40%{
        transform: rotateY(540deg);
        background-size: 100px 100px;
    }
    60%{
        transform: rotateY(540deg);
        background-size: 100px 100px;
    }
    80%{
        transform: rotateY(0deg);
        background-size:300px 300px;
    }
}

.box-page div:nth-child(2),.box-page div:nth-child(4),.box-page div:nth-child(6),.box-page div:nth-child(8){
    transform:rotateX(0deg);
    animation: rotatex 6s linear infinite;
}

@keyframes rotatex{
    20%{
        transform: rotateX(0deg);
        background-size: 300px 300px;
    }
    40%{
        transform: rotateX(540deg);
        background-size: 100px 100px;
    }
    60%{
        transform: rotateX(540deg);
        background-size: 100px 100px;
    }
    80%{
        transform: rotateX(0deg);
        background-size: 300px 300px;
    }
}
.huangguo-text{
    font-weight: bold;
    text-indent: 3em;
    letter-spacing: 2px;
	font-size: 14px;
	line-height: 40px;
    text-shadow:2px 2px  8px blue;
}

.wanfeng-text{
    text-indent: 2em;
    letter-spacing: 2px;
	font-size: 14px;
	line-height: 40px;
    text-shadow:2px 2px 4px #d2731a;
}
.maling-text{
    text-indent: 2em;
    letter-spacing: 2px;
	font-size: 12px;
	line-height: 40px;
    text-shadow:2px 2px 4px #d2731a;
}

/* 图片变换 */
#screen a{
    animation: donghua 8s infinite;
    float: left;
    clear: left;
}
#box2{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    float: left;
    clear: left;
}
#sreen{
    width: 9999px;
}
@keyframes donghua{
    0%{transform: translateY(0px);}
    18%{transform: translateY(0px);}
    20%{transform: translateY(-300px);}
    38%{transform: translateY(-300px);}
    40%{transform: translateY(-600px);}
    58%{transform: translateY(-600px);}
    60%{transform: translateY(-900px);}
    78%{transform: translateY(-900px);}
    80%{transform: translateY(-1200px);}
    100%{transform: translateY(-1200px);}
}
#screen img{
    float: left;
    clear: left;
    width: 500px;
    height: 300px;
}
#img{
    float: left;
    clear: left;
    width: 500px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
	height: 25px;
	background: #6cf;
}
footer p{
    float: left;
    margin-left: 10px;
}